# Dependencies
node_modules/

# Build
dist/
build/
.next/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db

# Docker
docker-data/

# Coverage
coverage/

# Logs
*.log
npm-debug.log*

# Misc
*.tgz
.cache/
